@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'DM Sans', sans-serif;
    @apply text-gray-800 bg-white;
  }
  h1, h2, h3, h4 {
    font-family: 'Sora', sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
